In [27]:
import pandas as pd
from pathlib import Path
import os
import sys

In [28]:
sys.path.append(os.path.abspath(".."))
from scripts.EDA import EDAAnalyzer

In [29]:
input_path = Path("../data/processed/fraud_cleaned2.csv")

In [30]:
df = EDAAnalyzer(input_path)

üîçüîç Loading data...
‚úÖ‚úÖ Data loaded successfully.

In [31]:
df.dtype_converter()

Converted the datatype of the key columns successfully
Converted the datatype of the key columns successfully

In [32]:
sys.path.append(os.path.abspath(".."))
from scripts.feature_engineering import FeatureEngineering

In [33]:
df.inspect_data()

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151112 entries, 0 to 151111
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      151112 non-null  int64
 1   user_id         151112 non-null  int64
 2   signup_time     151112 non-null  datetime64[ns]
 3   purchase_time   151112 non-null  datetime64[ns]
 4   purchase_value  151112 non-null  int64
 5   device_id       151112 non-null  object
 6   source          151112 non-null  object
 7   browser         151112 non-null  object
 8   sex             151112 non-null  object
 9   age             151112 non-null  int64
 10  ip_address      151112 non-null  int64
 11  class           151112 non-null  int64
 12  country         151112 non-null  object
dtypes: datetime64[ns](2), int64(6), object(5)
memory usage: 15.0+ MB
None

Missing Values:
Unnamed: 0        0
user_id           0
signup_time       0
purchase_time     0
purchase_value    0
device_id         0
source            0
browser           0
sex               0
age               0
ip_address        0
class             0
country           0
dtype: int64

Duplicated Values:
0

First Few Rows:
   Unnamed: 0  user_id         signup_time       purchase_time  \
0           0    22058 2015-02-24 22:55:49 2015-04-18 02:47:11
1           1   333320 2015-06-07 20:39:50 2015-06-08 01:38:54
2           2     1359 2015-01-01 18:52:44 2015-01-01 18:52:45
3           3   150084 2015-04-28 21:13:25 2015-05-04 13:54:50
4           4   221365 2015-07-21 07:09:52 2015-09-09 18:40:53

   purchase_value      device_id source browser sex  age  ip_address  class  \
0              34  QVPSPJUOCKZAR    SEO  Chrome   M   39   732758368      0
1              16  EOGFQPIZPYXFZ    Ads  Chrome   F   53   350311387      0
2              15  YSSKYOSJHPPLJ    SEO   Opera   M   53  2621473820      1
3              44  ATGTXKYKUDUQN    SEO  Safari   M   41  3840542443      0
4              39  NAUITBZFJKHWW    Ads  Safari   M   45   415583117      0

         country
0          Japan
1  United States
2  United States
3        Unknown
4  United States

In [34]:
featured = FeatureEngineering(df.data)

In [35]:
featured.add_time_features()

,Unnamed: 0,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,country,time_since_signup,hour_of_day,day_of_week
0,0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,732758368,0,Japan,4506682.0,2,5
1,1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,350311387,0,United States,17944.0,1,0
2,2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2621473820,1,United States,1.0,18,3
3,3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3840542443,0,Unknown,492085.0,13,0
4,4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,415583117,0,United States,4361461.0,18,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151107,151107,345170,2015-01-27 03:03:34,2015-03-29 00:30:47,43,XPSKTWGPWINLR,SEO,Chrome,M,28,3451154526,1,United States,5261233.0,0,6
151108,151108,274471,2015-05-15 17:43:29,2015-05-26 12:24:39,35,LYSFABUCPCGBA,SEO,Safari,M,32,2439047221,0,Netherlands,931270.0,12,1
151109,151109,368416,2015-03-03 23:07:31,2015-05-20 07:07:47,40,MEQHCSJUBRBFE,SEO,IE,F,26,2748470523,0,Japan,6681616.0,7,2
151110,151110,207709,2015-07-09 20:06:07,2015-09-07 09:34:46,46,CMCXFGRHYSTVJ,SEO,Chrome,M,37,3601174708,0,United States,5146119.0,9,0
151111,151111,138208,2015-06-10 07:02:20,2015-07-21 02:03:53,20,ZINIADFCLHYPG,Direct,IE,M,38,4103824510,0,Unknown,3524493.0,2,1

In [36]:
featured.add_transaction_frequency()

,Unnamed: 0,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,country,time_since_signup,hour_of_day,day_of_week,txn_per_user
0,0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,732758368,0,Japan,4506682.0,2,5,1
1,1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,350311387,0,United States,17944.0,1,0,1
2,2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2621473820,1,United States,1.0,18,3,1
3,3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3840542443,0,Unknown,492085.0,13,0,1
4,4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,415583117,0,United States,4361461.0,18,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151107,151107,345170,2015-01-27 03:03:34,2015-03-29 00:30:47,43,XPSKTWGPWINLR,SEO,Chrome,M,28,3451154526,1,United States,5261233.0,0,6,1
151108,151108,274471,2015-05-15 17:43:29,2015-05-26 12:24:39,35,LYSFABUCPCGBA,SEO,Safari,M,32,2439047221,0,Netherlands,931270.0,12,1,1
151109,151109,368416,2015-03-03 23:07:31,2015-05-20 07:07:47,40,MEQHCSJUBRBFE,SEO,IE,F,26,2748470523,0,Japan,6681616.0,7,2,1
151110,151110,207709,2015-07-09 20:06:07,2015-09-07 09:34:46,46,CMCXFGRHYSTVJ,SEO,Chrome,M,37,3601174708,0,United States,5146119.0,9,0,1
151111,151111,138208,2015-06-10 07:02:20,2015-07-21 02:03:53,20,ZINIADFCLHYPG,Direct,IE,M,38,4103824510,0,Unknown,3524493.0,2,1,1

Define feature groups

In [37]:
# define numerical and catagorical columns for preprocessing
num_cols=[
    "purchase_value",
    "age",
    "time_since_signup",
    "txn_per_user"
]
cat_cols=[
    "source",
    "browser",
    "sex",
    "country"
]

In [38]:
featured.df =featured.df.drop(columns=["signup_time","purchase_time","device_id","user_id","ip_address","hour_of_day","day_of_week"])# to make it safe for later modeling

In [39]:
from scripts.data_transformer import FraudDataTransformer # import custom module for transforming data
transformer=FraudDataTransformer(num_cols,cat_cols)

In [40]:
featured_data = featured.df

In [41]:
# check class distribution before resampling
y_original=featured_data['class']
y_original=transformer.get_class_distribution(y_original)
y_original

class
0    90.635423
1     9.364577
Name: proportion, dtype: float64

In [42]:
from sklearn.model_selection import train_test_split
 # split data into X(independent feature)and Y(dependent)
X=featured_data.drop(columns=['class'])
Y=featured_data['class']
x_train,x_test,y_train,y_test=train_test_split(X,
                                               Y,
                                               test_size=0.2,
                                               stratify=Y, # very important for imbalaced data
                                               random_state=42)

In [43]:
train_df = x_train.copy() # since our transformer expects 'class' column
train_df['class'] = y_train

Apply preprocessing + SMOTE (TRAIN ONLY)

In [44]:
transformer = FraudDataTransformer(
    numerical_features=num_cols,
    categorical_features=cat_cols
)

X_train_resampled, y_train_resampled = transformer.fit_resample(train_df)

Transform TEST data (NO SMOTE)

In [45]:
X_test_transformed = transformer.preprocessor.transform(x_test)
X_test_transformed

array([[ 0.38393695,  0.56398438,  1.51060047, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.49314796,  0.4480068 ,  1.69082449, ...,  0.        ,
         0.        ,  0.        ],
       [-0.27132915,  0.33202922,  0.06664933, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-0.16211813, -0.47981384,  1.06341219, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.25762508,  0.10007406,  1.48277387, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.38393695, -0.71176899, -0.35764106, ...,  0.        ,
         0.        ,  0.        ]], shape=(30223, 194))

üìä Class Distribution Documentation (Task Requirement)

In [46]:
transformer.get_class_distribution(y_train_resampled)

class
0    50.0
1    50.0
Name: proportion, dtype: float64

üìå Save the datasets For Future Modeling

In [47]:
import numpy as np

# Save training data
np.save("../data/processed/X_train.npy", X_train_resampled)
np.save("../data/processed/y_train.npy", y_train_resampled)

# Save test data
np.save("../data/processed/X_test.npy", X_test_transformed)
np.save("../data/processed/y_test.npy", y_test.values)